body {
    font-family:Arial, Helvetica, sans-serif ;
    background: color #f0f0f0; ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weatherapp {
    background: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
    text-align: center;
    width: 300px;
}

.search input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.search button {
    padding: 10px;
    border: none;
    background: #131315;
    color: white ;
    border-radius: 15px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2, .weather-info p {
    margin: 10px 0;
}